<h1>El aroma mágico</h1>

<div class="container-fluid">
  <hr>
  <img src="./assets/imagen-cafe.png" alt="" width="100%" height="400px">
<hr>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-7">
      <table id="cafe-table" class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col">Region</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let cafe of getCafes()">
            <td>
              <strong>{{ cafe.id }}</strong>
            </td>
            <td>{{ cafe.nombre }}</td>
            <td>{{ cafe.tipo }}</td>
            <td>{{ cafe.region }}</td>
          </tr>
          <tr class="cafe" *ngFor="let cafe of cafes">
            <th class="id" scope="row">{{ cafe.id }}</th>
            <td class="nombre">{{ cafe.nombre }}</td>
            <td class="tipo">{{ cafe.tipo }}</td>
            <td class="region">{{ cafe.region }}</td>
          </tr>
        </tbody>
      </table>
      <div id="total-variedades">
        <div
          id="{{ recipient.key }}"
          *ngFor="let recipient of getListCafes() | keyvalue">
          <span> Total {{ recipient.key }} : {{ recipient.value }} </span>
        </div>
      </div>
    </div>
  </div>
</div>

<footer  style="width:100%; text-align: center;"  >


  <div>
      <div class="container">
        Contact us: +57 3102105253 - info@elaromamagico.com - @elaromamagico
      </div>
  </div>